# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables and secrets
.env
*.env

# Flask/Python specific
instance/
.pytest_cache/
*.log

# Docker
*.tar
*.img
*.bak
docker-compose.override.yml

# VS Code and IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Node (if any frontend is added)
node_modules/
npm-debug.log
yarn-error.log

.github/workflows/*.secret.yml

.terraform/
*.tfstate
*.tfstate.backup